/*
    =======================================
    main.css - Feuille de style principale
    =======================================
*/

/*
    0. GLOBAL
*/
.btn-reset {
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/*
    1. GAME SCENE
*/
#scene {
    -fx-background-image: url('../images/background.png');
}

#header {
    -fx-background-image: url('../images/header.png');
}
#logo {
    -fx-background-image: url('../images/logo.png');
}
#player-name, #available-money {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: bold;
}
#player-name {
    -fx-font-size: 35px;
}
#available-money {
    -fx-font-size: 16px;
}
#semester {
    -fx-background-image: url('../images/semester.png');
}

/*
    2. BUTTONS
 */
#btn_close {
    -fx-background-image: url('../images/btn_close.png');
    -fx-cursor: hand;
}

#btn_nextsemester {
    -fx-background-image: url('../images/btn_nextsemester.png');
    -fx-cursor: hand;
}

/*
    3. LEVER CONTROLLER
*/
.lctrl {
    -fx-background-image: url('../images/lctrl_bg.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0px 19px;
    -fx-font-family: 'Roboto', sans-serif;
}
.lctrl-minus, .lctrl-plus {
    -fx-background-repeat: no-repeat;
}

.lctrl-minus {
    -fx-background-image: url('../images/lctrl_minus.png');
    -fx-cursor: hand;
}
.lctrl-plus {
    -fx-background-image: url('../images/lctrl_plus.png');
    -fx-cursor: hand;
}
.lctrl-name {
    -fx-fill: #fff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.lctrl-value {
    -fx-fill: #fff;
    -fx-font-size: 22px;
}
.lctrl-info, .indtxt-info {
    -fx-opacity: 0.5;
}
.lctrl-info:hover, .indtxt-info:hover {
    -fx-opacity: 1;
}

/*
    4. INDICATOR TEXT
 */
.indtxt-name {
    -fx-fill: #e73f08;
    -fx-font-size: 15px;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: 700;
}
.indtxt-value {
    -fx-fill: #FFF;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

/*
   5. INTRO SCENE
 */
#intro-scene {
    -fx-background-image: url('../images/intro_background.png');
}
#btn-play {
    -fx-background-image: url('../images/btn_play.png');
    -fx-cursor: hand;
}
#btn-leave {
    -fx-background-image: url('../images/btn_leave.png');
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-repeat: no-repeat;
}

/*
    6. OPTIONS SCENE
 */
#options {
    -fx-background-image: url('../images/options_background.png');
}
#btn-startgame {
    -fx-background-image: url('../images/btn_startgame.png');
    -fx-cursor: hand;
}
#playername-field {
    -fx-background-color: #fff;
    -fx-fill: #000;
}

.scenario-picture {
    -fx-opacity: 0.6;
    -fx-cursor: hand;
}
.scenario-picture:hover {
    -fx-opacity: 1;
}

/*
    7. END SCENE
 */
#graphic-text {
    -fx-fill: #FFF;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

#button-pane .button {
    -fx-background-color: white;
    -fx-font-size: 18px;
    -fx-fill: black;
    -fx-font-family: "Roboto";
    -fx-cursor: hand;
}

/*
   8. Charts
 */
.chart-title {
    -fx-text-fill: white;
    -fx-font-size: 1.6em;
}

.axis-label {
    -fx-text-fill: white;
}

.chart-legend {
    -fx-background-color: white;
}
