/*
    =======================================
    main.css - Feuille de style principale
    =======================================
*/

/*
    0. GLOBAL
*/
.btn-reset {
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

/*
    1. GAME SCENE
*/
#scene {
    -fx-background-image: url('../images/background.png');
}

#header {
    -fx-background-image: url('../images/header.png');
}
#logo {
    -fx-background-image: url('../images/logo.png');
}
#player-name, #available-money {
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: bold;
}
#player-name {
    -fx-font-size: 35px;
}
#available-money {
    -fx-font-size: 16px;
}


/*
    2. BUTTONS
 */
#btn_close {
    -fx-background-image: url('../images/btn_close.png');
}

#btn_nextsemester {
    -fx-background-image: url('../images/btn_nextsemester.png');
}

/*
    3. LEVER CONTROLLER
*/
.lctrl {
    -fx-background-image: url('../images/lctrl_bg.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0px 19px;
    -fx-font-family: 'Roboto', sans-serif;
}
.lctrl-minus, .lctrl-plus {
    -fx-background-repeat: no-repeat;
}

.lctrl-minus {
    -fx-background-image: url('../images/lctrl_minus.png');
}
.lctrl-plus {
    -fx-background-image: url('../images/lctrl_plus.png');
}
.lctrl-name {
    -fx-fill: #fff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}
.lctrl-value {
    -fx-fill: #fff;
    -fx-font-size: 22px;
}
.lctrl-info, .indtxt-info {
    -fx-opacity: 0.5;
}
.lctrl-info:hover, .indtxt-info:hover {
    -fx-opacity: 1;
}

/*
    4. INDICATOR TEXT
 */
.indtxt-name {
    -fx-fill: #e73f08;
    -fx-font-size: 15px;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: 700;
}
.indtxt-value {
    -fx-fill: #FFF;
    -fx-font-family: 'Roboto', sans-serif;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}